@import "bootstrap.less";

body { padding-top:50px; }
figure.code { 
    margin:0;
    figcaption { 
        display:none; 
    }
    > br {
        display:none;
    }
    
}

//.highlight {
//    pre {
//        background-color:#777;
//    }
//}
